.product-types-product {
  cursor: pointer;
  position: relative;
  font-size: 0;
  margin: 1rem 0;

  img {
    border-top: none;
    transition: all 0.2s ease-in-out;
  }

  .product-type {
    position: absolute;
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .product-types-product {
    .product-type {
      font-size: 0.9rem;
    }
  }
}
