.product-types-product {
  cursor: pointer;
  position: relative;
  font-size: 0;
  margin: 1rem 0;
  border: none;
  outline: none;

  img {
    border-top: none;
    transition: all 0.2s ease-in-out;
  }

  .product-type {
    position: absolute;
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .product-types-product {
    .product-type {
      p {
        padding: 2.55px 0;
      }
    }
  }
}

@media (max-width: 425px) {
  .product-types-product {
    .product-type {
      p {
        font-size: 0.6rem;
        padding: 0.13rem 0;
      }
    }
  }
}
