section.product-types {
  height: 100vh;
  position: relative;

  .product-types-bg {
    background: url("../../img/product-types.png") no-repeat center center/cover;
    background-attachment: fixed;
    height: 50vh;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      z-index: 1;
    }

    h1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
      color: #fff;
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      z-index: 2;
    }
  }

  .product-type-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 2;
  }

  .all-products-btn {
    background: #d5987b;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 18%;
    left: 50%;
    font-weight: bold;
    font-size: 1rem;
    transform: translate(-50%, 0);
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
      transform: translate(-50%, 5px);
    }
  }
}

@media (max-width: 1024px) {
  section.product-types {
    height: 60vh;

    .product-types-bg {
      height: 30vh;

      h1 {
        font-size: 1.5rem;
      }
    }
    .product-type-grid {
      width: 90%;
      grid-gap: 0 2rem;
    }
    .all-products-btn {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 768px) {
  section.product-types {
    height: 100%;

    .product-types-bg {
      display: none;
    }

    .product-type-grid {
      // display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      width: 70%;
      position: relative;
      transform: translate(0, 0);
      top: 0;
      left: 0;
      margin: auto;
      padding: 2rem 0;
    }

    .product-types-button {
      position: relative;
      padding: 1rem 0;
      margin: 3rem 0;
    }
    .all-products-btn {
      // font-size: 0.7rem;
    }
  }
}
