section.footer {
  background: #333;
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;

  .footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1024px;

    .contact-info {
      padding: 1.5rem 0;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0;
      }

      p {
        padding-left: 1rem;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .footer-logo {
      margin: 1.5rem;
    }

    .social-media {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1.5rem;
      font-size: 2rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 1rem;
        color: #fff;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translate(0, 3px);
        }
      }
    }
  }

  .copyright {
    max-width: 1024px;
    padding: 3rem 0 1rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 0.9rem;
    }

    img {
      display: flex;
      justify-content: center;
      margin: 0 0.5rem;
    }

    a {
      color: #fff;
      font-size: 1rem;
      padding: 0 0.2rem;
    }
  }
}

@media (min-width: 768px) {
  section.footer {
    font-size: 1.1rem;

    .footer-grid {
      flex-direction: row;

      .contact-info {
        align-items: flex-start;
      }
    }

    .copyright {
      flex-direction: row;
      a {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0.2rem;
      }
    }
  }
}
