@font-face {
  font-family: "Myriad Pro";
  src: url("./fonts/MYRIADPRO-REGULAR.OTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Myriad Pro", sans-serif;
  position: relative;
}
